@import '~less/colors.less';

.page {
    &__content {
        &--section {
            margin-bottom: 50px;
        }

        &__header {
            white-space: nowrap;
            margin-top: 20px;
            overflow: hidden;

            h2 {
                display: inline-block;
                color: @800;
                //text-shadow: 1px 1px 0 @900;
                margin: 15px 0;
                font-weight: normal;
            }
        }
    }
}

.section__icon {
    fill: @800;
    width: 100px;
    height: 60px;
    filter: drop-shadow(1px 1px 0px @900);
    position: relative;
    //top: 16px;
    float: right;
}

