@import '~less/colors.less';

@active: @900;
@active: white;
.menu {
    padding: 0 20px;

    &__icon {
        position: relative;
        top: 3px;
        width: 30px;
        height: 20px;
        fill: @dark;
    }

    &__item {
        list-style: none;

        &__link {
            display: inline-block;
            padding: 3px 0;
            width: 100%;
            color: @dark;
            text-decoration: none;

            &:hover {
                background: @700;
                color: @active;

                .menu__icon {
                    fill: @active;
                }
            }

            &--active {
                background: @800;
                color: @active;

                .menu__icon {
                    fill: @active;
                }

                &:hover {
                    background: @800;

                     a {
                         cursor: default;
                     }
                }
            }
        }
    }
}

/*&--zakuski-i-buterbrodi {
    &:before {
    }
}

&--pervie-blyda {
    &:before {
    }
}

&--riba-i-moreprodukti {
    &:before {
    }
}

&--salati {
    &:before {
    }
}

&--vipechka {
    &:before {
    }
}

&--nesladkaya-vipechka {
    &:before {
    }
}

&--blini-oladi-sirniki {
    &:before {
    }
}

&--recepti-dlia-detey {
    &:before {
    }
}

&--deserti-napitki {
    &:before {
    }
}

&--torti-i-pirozhenie {
    &:before {
    }
}

&--pizza {
    &:before {
    }
}

&--chebureki-pirogki {
    &:before {
    }
}

&--raznoe {
    &:before {
    }
}

&--vtorie-blyda {
    &:before {
    }
}*/
