.page--not-found {
    background: none;
    text-align: center;

    .page {
        &__title {
            color: white;
            font-size: 60px;
            padding: 100px 0 10px;
            line-height: 76px;
        }

        &__text {
            color: white;
            font-size: 22px;
            margin: 0 0 50px;
        }
    }

    img {
        display: inline-block;
        margin: 0 auto;
    }

    a {
        display: inline-block;
    }
}
