.overlay {
    /**
     * Оверлэй для первой загрузки страницы - ждем пока зугрузятся шрифты.
     */
    &__preload {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 200px;
        width: 100%;
        height: 100%;
        background: @300;
        text-align: center;

        img {
            display: inline-block;
            animation: spin 1s linear infinite;
        }
    }

    /**
     * Оверлэй для сообщения о том используемый что браузер безнадежно устарел.
     */
    &__old-browser {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 200px;
        width: 100%;
        height: 100%;
        background: @300;
        text-align: center;

        h2 {
            color: white;
        }

        img {
            display: inline-block;
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

h6 {
    font-size: @fs6;
}

h5 {
    margin: 15px 0;
    font-size: @fs5;
}

h4 {
    margin: 20px 0;
    font-size: @fs4;
}

h3 {
    font-size: @fs3;
}

h2 {
    font-size: @fs2;
}

h1 {
    font-size: @fs1;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background: url(/images/textures/crisp-paper-ruffles.png) @400;
    font-size: @basePx;
    font-family: Tahoma, sans-serif;
    line-height: @fs2;
}

.react {
    &__node {
        min-height: 100%;
        height: 100%;
        //padding-left: calc(100vw - 100%);
    }
}

.page {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    width: 1024px;
    background: white;
    //margin-bottom: 50px;

    &__header {
        float: none;
        overflow: hidden;
        padding: 0 50px;
        height: 160px;
        background: url(/images/recipe-header-3-bg.jpg) no-repeat;
        text-align: right;

        a {
            //color: white;
            //text-decoration: none;
            //font-weight: bold;
            //font-style: italic;
            //font-size: @fs5;
            //line-height: 233px;

            display: inline-block;
            width: 100%;
            height: 100%;
        }

        img {
            display: inline-block;
            float: left;
            margin: 20px 0;
            height: 120px;
        }
    }
    &__content {
        position: relative;

        &__wrap {
            float: none;
            overflow: hidden;
            //margin-bottom: 50px;
            height: 100%;
        }

        &__right {
            display: inline-block;
            float: left;
            width: 275px;
        }

        &__body {
            display: inline-block;
            float: left;
            width: 745px;

            // set blur for content wrapper until request will complete.
            &.filter-blur {
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }
        }

        &__load {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(157, 157, 157, 0.6);

            &.visible {
                display: block;
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        float: none;
        overflow: hidden;
        //bottom: 0;
        box-sizing: border-box;
        padding-top: 10px;
        width: 100%;
        height: 50px;
        color: @900;
        text-align: center;
        font-size: 12px;
    }
}
