@import '~less/colors.less';
@import '~less/font-sizes.less';

h5 {
    display: inline-block;
    color: @900;
    //text-shadow: 1px 1px 0 @800;
}

.page {
    &__content {
        &--item {
            margin-bottom: 50px;
            overflow: hidden;
        }

        &__desc {
            padding: 0 30px 30px 0;
            font-size: @fs0;
            line-height: @fs1;
            float: left;
            width: 465px;
        }

        &__images {
            overflow: hidden;
            //background: url(/images/textures/light-wool.png) @400;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 35px 45px;
            margin-bottom: 30px;

            float: right;
            width: 160px;
            padding-top: 33px;

            img {
                border: 1px solid @900;
                display: inline-block;
                margin: 1px;
            }
        }
    }
}
