/* font-family: 'RobotoRegular'; */
@font-face {
    font-family: 'RobotoRegular';
    src:
        local('RobotoRegular'),
        local('Roboto-Regular'),
        url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* font-family: 'RobotoLight'; */
@font-face {
    font-family: '  RobotoLight';
    src:
        local('RobotoLight'),
        local('Roboto-Light'),
        url('/fonts/roboto/Roboto-Light.woff') format('woff'),
        url('/fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* font-family: 'RobotoMedium'; */
@font-face {
    font-family: 'RobotoMedium';
    src:
        local('RobotoMedium'),
        local('Roboto-Medium'),
        url('/fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* font-family: 'RobotoBold'; */
@font-face {
    font-family: 'RobotoBold';
    src:
        local('RobotoBold'),
        local('Roboto-Bold'),
        url('/fonts/roboto/Roboto-Bold.woff') format('woff'),
        url('/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
