@ratio: 1.2;
@base: 1;
@baseEm: @base * 1em;
@basePx: @base * 16px;

@fs0: @basePx - @ratio;
@fs1: @ratio * @basePx;               /* 1.2   */
@fs2: @ratio * @fs1; /* 1.44  */
@fs3: @ratio * @fs2; /* 1.728 */
@fs4: @ratio * @fs3; /* 2.074 */
@fs5: @ratio * @fs4; /* 2.488 */
@fs6: @ratio * @fs5; /* 2.986 */
@fs7: @ratio * @fs6; /* 3.583 */

body {
    font-size: @basePx;
    line-height: @fs2;
}

h6 {
    font-size: @fs1;
}

h5 {
    font-size: @fs2;
}

h4 {
    font-size: @fs3;
}

h3 {
    font-size: @fs4;
}

h2 {
    font-size: @fs5;
}

h1 {
    font-size: @fs6;
}
