@import '~less/colors.less';
@import '~less/font-sizes.less';

.recipe-preview {
    &__item {
        display: inline-block;
        float: none;
        overflow: hidden;
        margin: 10px 0;
        width: 50%;

        &__title {
            display: inline-block;
            float: left;
            box-sizing: border-box;
            padding: 10px;
            width: 50%;
        }

        &__link {
            display: inline-block;
            overflow: hidden;
            padding: 2px;
            width: 100%;
            height: 120px;
            color: @900;
            text-decoration: none;
            font-size: @fs0;

            &:hover {
                background: @100;
                font-weight: bold;
                font-family: RobotoBold, sans-serif;

                img {
                    top: -5px;
                    left: -5px;
                    width: 200px;
                }
            }
        }

        &__img {
            display: inline-block;
            float: left;
            overflow: hidden;
            width: 50%;
            height: 120px;

            img {
                position: relative;
                width: 187px;
            }
        }
    }
}
