@import '~less/colors.less';
@import '~less/font-sizes.less';

.paginator {
    padding: 0;
    user-select: none;

    &__wrap {
    }

    &__dir {
        display: inline-block;
        height: 20px;
        color: @500;
        text-decoration: none;
        font-weight: bold;
        font-family: RobotoBold, sans-serif;

        &--left {
        }
        &--right {
        }

        &:hover {
            font-size: @fs2;
        }

        &--disable {
            fill: @100;
        }

        &--active {
            a {
                color: @500;
                text-shadow: 1px 1px 0 @700;
                font-size: @fs3;
            }

            &:hover {
                a {
                    color: @500;
                    text-shadow: 1px 1px 0 @700;
                    font-size: @fs3;
                }
            }
        }
    }

    &__icon {
        width: 15px;
        height: 20px;
        fill: @300;

        &:hover {
            filter: drop-shadow(1px 1px 0px @700);
            fill: @500;
        }

        &--disable {
            fill: @100;

            &:hover {
                filter: none;
                fill: @100;
            }
        }
    }

    li {
        display: inline-block;
        width: 30px;
        text-align: center;

        &.active {
            text-decoration: underline;
            border-color: #ff820e;
        }
    }
}
